<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.greenfarm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Greenfarm">
        <activity android:name=".ui.mine.myOrder.customer.CustomerFarmOrderProcessedActivity"></activity>
        <activity android:name=".ui.mine.myOrder.customer.CustomerFarmOrderNotProcessedActivity" />
        <activity android:name=".ui.mine.myOrder.farmer.FarmOrderProcessedActivity" />
        <activity android:name=".ui.mine.myOrder.farmer.FarmOrderNotProcessedActivity" />
        <activity android:name=".ui.mine.myOrder.FarmOrderActivity" />
        <activity android:name=".ui.mine.myOrder.MyOrderActivity" />
        <activity android:name=".ui.mine.myFarm.farmer.management.plant.PlantInfoActivity" />
        <activity android:name=".ui.mine.myFarm.farmer.management.plant.FarmerPlantActivity" />
        <activity android:name=".ui.mine.myFarm.farmer.management.customerInfo.CustomerInfoActivity" />
        <activity android:name=".ui.mine.myFarm.customer.management.plant.CustomerAddPlantActivity" />
        <activity android:name=".ui.mine.myFarm.customer.management.plant.CustomerPlantActivity" />
        <activity android:name=".ui.farm.search.FarmSearchActivity" />
        <activity android:name=".ui.main.FarmerMainActivity" /> <!-- <activity android:name=".ui.mine.myFarm.farmer.management.monitor.FarmListActivity" /> -->
        <activity android:name=".ui.farm.farmInfo.FarmInfoActivity" />
        <activity android:name=".ui.mine.myFarm.farmer.management.add.AddFarmActivity" />
        <activity android:name=".ui.mine.myFarm.customer.management.monitor.MonitorActivity" />
        <activity android:name=".ui.mine.myFarm.farmer.management.FarmManagementActivity" />
        <activity android:name=".ui.mine.myFarm.farmer.MyFarmActivity" />
        <activity android:name=".ui.mine.myFarm.customer.CustomerMyFarmActivity" />
        <activity android:name=".ui.mine.myFarm.customer.management.CustomerFarmManagementActivity" />
        <activity android:name=".ui.mine.setting.ChangeTelephoneActivity" />
        <activity android:name=".ui.mine.setting.ChangeUsernameActivity" />
        <activity android:name=".ui.mine.setting.ChangePasswordActivity" />
        <activity android:name=".ui.mine.setting.SettingActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.register.RegisterActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>